# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build do TypeScript
dist/

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Sistema operacional
.DS_Store
Thumbs.db

# Docker
.env
.env.local
.env.*.local

# IDEs/Editor
.vscode/
.idea/
*.swp

# Testes
coverage/
